/* Set Your Own Margin & Padding */

body {
background: url("../img/retina_wood.png");
}


h1 {font-family: 'Quicksand', sans-serif;
	font-size: 48px;
	font-weight: 400;
	margin: 10px;

}
h2 {font-family: 'Quicksand', sans-serif;
	font-size: 32px;
	font-weight: 400;
	margin: 10px;
}

 h3 {font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin: 10px;
	color: #C9313D;
}

h4 {font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin: 10px;
	color: #F9722E;
}

h5 {font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	font-weight: 700;
	margin: 10px;
	color: #F9722E;
}


  p {font-family: 'Quicksand', sans-serif;
  	font-size: 15px;
	margin: 10px;
}
 
 em {font-family: 'Quicksand', sans-serif;
  	font-size: 15px;
	margin: 10px;
}


/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}